.btn-container{
    width: 30%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-btn{
    border: none;
    background-color: transparent;
    padding:8px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
}
.filter-btn:hover{
    background-color: #c59d5f;
    color: #fff;
}
.highlight{
    background-color: #c59d5f;
    color: #fff;
}