@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  margin-top: 50px;
}

.header h2 {
  padding: 0;
  margin-bottom: 8px;
  text-align: center;
  color: #000;
  font-size: 30px;
}

.header .underline {
  background-color: #c59d5f;
  width: 80px;
  height: 4px;
  margin: 0 auto;
  border-radius: 10px;
}